body {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(90deg, aqua, blue);
}

h1, h4 {
    color: white;
}

.first,
.second {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.1rem;
}

.first {
    margin-top: 10vh;
}

.plus {
    margin-top: 20px;
}

button {
    width: 50px;
    height: 40px;
    font-size: 1.1rem;
    background-color: aqua;
    border: 1px solid gray;
    cursor: pointer;
}

.result {
    color: white;
}

.clear {
    width: 65px;
    height: 40px;
    background-color: red;
    color: white;
}

.wrapper {
    background-color: lightblue;
    /* border-radius: 50%; */
    width: 320px;
    height: 275px;
    margin: auto;
    padding: 40px;
    border: 2px solid blue;
    /* -webkit-box-shadow: 0 0 5px 2px #fff; */
    /* -moz-box-shadow: 0 0 15px 10px #fff; */
    box-shadow: 0 0 15px 10px #fff;
}
